<div class="profile-container" {{on-click-outside this.closeMenu}}>
    <div class="profile-icon" {{on "click" this.toggleProfileMenu}}>
        <i class="fa-solid fa-user"></i>
    </div>
    <div class={{if this.showProfileMenu "profile-popup show" "profile-popup"}}>
        <ul>
            <li>
                <p class="profile-setting-link" {{on 'click' this.changeToSetting}}>Profile Settings</p>
            </li>
            <li>
                <button type="button" {{on "click" this.logOut}}>Logout</button>
            </li>
        </ul>
    </div>
</div>